@use "../abstracts/variables" as var;

.footer {
  grid-area: footer;
  background-color: var.$color-primary;
  color: var.$color-light;
  text-align: center;
  padding: 1rem;
  height: 5rem;
  min-width: 100vw;

  &__link {
	  text-decoration: none;
	  padding: 0 1rem;
	  cursor: pointer;
    color: var.$color-light;

		&:hover, &:visited, &:active {
			text-decoration: underline;
		}
  }

  &__copyright {
    font-weight: 200;
  }
}
