@use "../abstracts/variables" as var;

.products-page {
    grid-area: content;
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;

    &__button {
        padding: .5rem 1rem;
        margin: 1rem;
        border: none;
        border-radius: 5px;
        color: var.$color-light;
        background: var.$color-dark;
        font-family: inherit;
        font-weight: 500;

        &:hover {
            background: var.$color-light;
            color: var.$color-primary;
        }
    }
}