@use "../abstracts/variables" as var;

.products-main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__tool-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__choice-container {
        width: 50%;
        height: 80%;
        border: .1rem solid var.$color-dark;
        padding: 2rem;
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pattern-selector, &__fabrics-selector {
        display: flex;
        flex-direction: column;
        width: 10%;
    }

    &__garment {
        border: .1rem solid var.$color-dark;
        padding: .5rem;
        margin: .5rem 0;
    }

    &__sweater {
        clip-path: polygon(32% 2%, 38% 5%, 43% 7%, 48% 9%, 53% 9%, 59% 6%, 63% 4%, 66% 1%, 98% 27%, 89% 41%, 71% 28%, 68% 82%, 27% 82%, 29% 28%, 11% 45%, 1% 35%);
    }

    &__trousers {
        clip-path: polygon(25% 0%, 4% 100%, 28% 100%, 42% 53%, 53% 100%, 78% 100%, 66% 0%);
    }

    &__fabric-container {
        margin: .5rem 0;
        width: 3rem;
    }

    &__fabric {
        clip-path: circle(50% at 50% 50%);
    }
}