@use "../abstracts/variables" as var;

.products-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    &__tool-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
    }

    &__choice-container {
        flex: 3;
        height: 60%;
        border: .1rem solid var.$color-dark;
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var.$color-light;
    }

    &__chosen-garment {
       height: 60%;
    }

    &__pattern-selector, &__fabrics-selector {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        background-color: var.$color-light;
    }

    &__garment {
        border: .1rem solid var.$color-dark;
        padding: .5rem 1rem;
        cursor: pointer;
        width: 100px;
        height: 100px;
    }

    &__sweater {
        width: 80%;
    }

    &__trousers {
        width: 80%;
    }

    &__fabric-container {
        margin: .5rem 0;
        width: 3rem;
    }

    &__fabric {
        clip-path: circle(50% at 50% 50%);
        cursor: pointer;
    }
}