@use "../abstracts/variables" as var;

html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;

	@media (max-width: 700px) {
		font-size: 87.5%;
	}
}

body, #root, .App {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
}

button {
	cursor: pointer;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}